<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat Debug Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div id="app">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  WebSocket Chat Debug Page (very secret)
                </h1>
                <h2 v-if="roomName" class="subtitle">
                  Room: {{ roomName }}
                </h2>
              </div>
            </div>
          </section>

          <div class="columns">
            <div class="column">
              <nav class="panel">
                <p class="panel-heading">
                  Chat
                </p>
                <textarea
                  class="chat-box textarea"
                  v-model="displayChat()"
                  rows="15"
                  disabled="true"
                ></textarea>
                <form @submit.prevent="sendMessage">
                  <div class="field has-addons">
                    <input
                      class="input"
                      type="text"
                      name="name"
                      placeholder=""
                    />
                    <button class="button is-info">Send message</button>
                  </div>
                </form>
              </nav>
            </div>

            <div class="column">
              <nav class="panel">
                <p class="panel-heading">
                  Active Game Rooms
                </p>
                <div
                  class="columns panel-block"
                  v-for="item in active_rooms"
                  :key="item.index"
                >
                  <a class="column">
                    {{item.name}}
                  </a>
                  <span class="column has-text-right"
                    >{{item.current_clients}} / {{item.limit }}</span
                  >
                </div>
              </nav>

              <h3>Game rooms</h3>
              <form v-if="!roomName" @submit.prevent="createRoom">
                <input type="text" name="name" autocomplete="off" />
                <button>Create room</button>
              </form>

              <form v-if="!roomName" @submit.prevent="joinRoom">
                <input type="text" name="name" autocomplete="off" />
                <button>Join room</button>
              </form>
            </div>
          </div>

          <div class="mt-5" v-if="roomName && gameBoard">
            <h3>Current board</h3>
            <div v-for="x in gameBoard.length" :key="gameBoard.index">
              <span v-for="y in gameBoard.length" :key="gameBoard.index">
                <button
                  class="button is-small"
                  style="width: 25px;"
                  @click.prevent="makeMove(x - 1, y - 1)"
                >
                  {{ gameBoard[x - 1][y - 1]}}
                </button>
              </span>
            </div>
          </div>

          <br />
          <h3>Chat</h3>
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Event type">Sender</abbr></th>
                <th><abbr title="Message">Message</abbr></th>
              </tr>
            </thead>
            <tbody v-for="item in chat_messages" :key="item.index">
              <tr>
                <td>{{ item.sender}}</td>
                <td>
                  {{ item.message }}
                </td>
              </tr>
            </tbody>
          </table>
          <h3>Debug Messages</h3>
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="Event type">Event</abbr></th>
                <th><abbr title="Message">Message</abbr></th>
              </tr>
            </thead>
            <tbody v-for="item in messages" :key="item.index">
              <tr>
                <td>{{ item.event_type}}</td>
                <td>
                  {{ item.data.message || item.data.rooms || item.data.count ||
                  item.data.board }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
      function createMessage(event_type, payload) {
        return JSON.stringify({
          event_type: event_type,
          data: payload,
        });
      }
      function formatBoard(board) {
        board.forEach((item, x) => {
          item.forEach((element, y) => {
            if (element === 0) {
              board[x][y] = "-";
            } else if (element == 1) {
              board[x][y] = "O";
            } else if (element == 2) {
              board[x][y] = "X";
            }
          });
        });
        return board;
      }
      const app = new Vue({
        el: "#app",
        data: {
          connection: null,
          messages: [],
          roomName: "",
          gameBoard: null,
          chat_messages: [],
          active_rooms: [],
        },
        created: function () {
          console.log("Startuem WS");
          this.connection = new WebSocket("ws://localhost:8000/ws");
          this.connection.onmessage = this.messageHandler;
          this.connection.onopen = function (event) {
            console.log("Successfully connected to Websocket");
          };
        },
        methods: {
          messageHandler: function (event) {
            const payload = JSON.parse(event.data);
            console.log(payload.event_type);
            switch (payload.event_type) {
              case "game_update":
                console.debug(payload.data.board);
                this.gameBoard = formatBoard(payload.data.board);
                break;
              case "get_all_rooms":
                this.active_rooms = [
                  ...this.active_rooms,
                  ...payload.data.rooms,
                ];
              case "chat_message":
                this.chat_messages.push(payload.data);
              default:
                break;
            }
          },
          sendMessage: function (event) {
            let _input = event.target.elements.name.value;
            if (_input) {
              message = createMessage("chat_message", {
                message: event.target.elements.name.value,
              });
              this.connection.send(message);
            }
            event.target.elements.name.value = "";
            event.preventDefault();
          },
          createRoom: function (event) {
            event.preventDefault();
            message = createMessage("create_room", {
              name: event.target.elements.name.value,
            });
            this.connection.send(message);
            event.target.elements.name.value = "";
          },
          joinRoom: function (event) {
            event.preventDefault();
            this.connection.close();
            this.connection = new WebSocket(
              `ws://localhost:8000/ws/${event.target.elements.name.value}`
            );
            this.connection.onmessage = this.messageHandler;
            this.roomName = event.target.elements.name.value;
            event.target.elements.name.value = "";
          },
          makeMove: function (x, y) {
            event.preventDefault();
            message = createMessage("make_move", { x, y });
            this.connection.send(message);
          },
          displayChat: function () {
            return this.chat_messages
              .map((el) => `[${el.timestamp}] ${el.sender}: ${el.message}`)
              .join("\n");
          },
          scrollToElement() {
            const el = this.$el.getElementsByClassName("scroll-to-me")[0];
            if (el) {
              el.scrollIntoView();
            }
          },
        },
        updated: function () {
          var chatBox = this.$el.getElementsByClassName("chat-box")[0];
          chatBox.scrollTop = chatBox.scrollHeight;
        },
      });
    </script>
  </body>
</html>
