<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat Debug Page</title>
    <link rel="stylesheet" href="static/bulma.min.css"/>
  </head>
  <body>
    <style>
      .superdisabled {
        pointer-events: none;
        opacity: 0.5;
      }
      .not-resizable {
        resize: none;
        cursor: default !important;
      }
    </style>
        <div id="app" class="container">
          <section class="hero">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  WebSocket TicTacToe Debug Page
                </h1>
                <h2 v-if="roomName" class="subtitle">
                  Room: <% roomName %>
                </h2>
              </div>
            </div>

          <div class="columns">
            <div class="column">
              <nav class="panel">
                <p class="panel-heading">
                  Chat
                </p>
                <textarea
                  class="chat-box textarea not-resizable"
                  v-model="displayChat()"
                  rows="23"
                  disabled="true"
                ></textarea>
                <form class="is-expanded" @submit.prevent="sendMessage">
                  <div class="field has-addons">
                    <input
                      class="input"
                      type="text"
                      name="name"
                      placeholder=""
                      autocomplete="off"
                    />
                    <button class="button is-info">Send message</button>
                  </div>
                </form>
              </nav>
            </div>

            <div class="column">
              <nav v-if="!roomName" class="panel">
                <p class="panel-heading">
                  Active Game Rooms
                </p>
                <div v-for="item in active_rooms" :key="item.index">
                  <div
                    class="panel-block level"
                    v-bind:class="{superdisabled: item.is_full}"
                  >
                    <a
                      @click.prevent="joinRoom(item.name)"
                      class="panel-block column level-left"
                    >
                      <% item.name %>
                    </a>
                    <span
                      class="ml-2 level-right"
                      v-bind:class="{'has-background-danger': item.is_full}"
                    >
                      <% item.current_clients %> / <% item.limit %>
                    </span>
                  </div>
                </div>
                <form class="is-expanded" @submit.prevent="createRoom">
                  <div class="field has-addons">
                    <input
                      class="input"
                      type="text"
                      name="name"
                      placeholder=""
                    />
                    <button class="button is-info">Create room</button>
                  </div>
              </nav>
              <nav v-else class="panel">
                <p class="panel-heading">
                  Current Game
                </p>
                <div
                  class="mt-5 mb-5 has-text-centered"
                  v-if="roomName && gameBoard"
                >
                  <div v-for="x in gameBoard.length" :key="gameBoard.index">
                    <span v-for="y in gameBoard.length" :key="gameBoard.index">
                      <button
                        class="button is-size-3"
                        style="width: 70px; height: 70px;"
                        @click.prevent="makeMove(x - 1, y - 1)"
                      >
                        <% gameBoard[x - 1][y - 1] %>
                      </button>
                    </span>
                  </div>
                </div>
                <div v-else class="mt-5 mb-5 has-text-centered">
                  Waiting for players
                </div>
                <br />
                <p class="panel-heading">
                  Combat log
                </p>
                <textarea
                  class="game-log-box textarea not-resizable"
                  v-model="displayGameLog()"
                  rows="10"
                  disabled="true"
                ></textarea>
              </nav>
            </div>
          </div>
          <br />
        </div>
    </section>

    <script src="static/vue.js"></script>
    <script>
      const wsHost = {{ host|tojson|safe }} || 'localhost:8000';
      console.log(wsHost)
      function createMessage(event_type, payload) {
        return JSON.stringify({
          event_type: event_type,
          data: payload,
        });
      }
      function formatBoard(board) {
        board.forEach((item, x) => {
          item.forEach((element, y) => {
            if (element === 0) {
              board[x][y] = "";
            } else if (element == 1) {
              board[x][y] = "O";
            } else if (element == 2) {
              board[x][y] = "X";
            }
          });
        });
        return board;
      }
      const app = new Vue({
        el: "#app",
        delimiters: ["<%","%>"],
        data: function () {
          return {
            connection: null,
            messages: [],
            roomName: "",
            gameBoard: null,
            chat_messages: [],
            active_rooms: [],
            game_log: [],
          };
        },
        created: function () {
          console.log("Startuem WS");
          this.connection = new WebSocket(`ws://${wsHost}/ws`);
          this.connection.onmessage = this.messageHandler;
          this.connection.onopen = function (event) {
            console.log("Successfully connected to Websocket");
          };
        },
        methods: {
          messageHandler: function (event) {
            const payload = JSON.parse(event.data);
            console.log(payload.event_type);
            switch (payload.event_type) {
              case "game_update":
                console.debug(payload.data.board);
                this.gameBoard = formatBoard(payload.data.board);
                break;
              case "get_all_rooms":
                this.active_rooms = payload.data.rooms;
                break;
              case "chat_message":
                this.chat_messages.push(payload.data);
                break;
              case "game_log":
                this.game_log.push(payload.data);
                break;
              default:
                break;
            }
          },
          sendMessage: function (event) {
            let _input = event.target.elements.name.value;
            if (_input || _input !== '') {
              message = createMessage("chat_message", {
                message: event.target.elements.name.value,
              });
              this.connection.send(message);
            }
            event.target.elements.name.value = "";
            event.preventDefault();
          },
          createRoom: function (event) {
            event.preventDefault();
            message = createMessage("create_room", {
              name: event.target.elements.name.value,
            });
            this.connection.send(message);
            event.target.elements.name.value = "";
          },
          joinRoom: function (name) {
            this.connection.close();
            this.connection = new WebSocket(`ws://${wsHost}/ws/${name}`);
            this.connection.onmessage = this.messageHandler;
            this.roomName = name;
          },
          makeMove: function (x, y) {
            message = createMessage("make_move", { x, y });
            this.connection.send(message);
          },
          displayChat: function () {
            return this.chat_messages
              .map((el) => `[${el.timestamp}] ${el.sender}: ${el.message}`)
              .join("\n");
          },
          displayGameLog: function () {
            return this.game_log.map((el) => `[${el.timestamp}] ${el.message}` ).join("\n");
          },
        },
        updated: function () {
          var chatBox = this.$el.getElementsByClassName("chat-box")[0];
          var gameLogBox = this.$el.getElementsByClassName("game-log-box")[0];
          if (chatBox){
            chatBox.scrollTop = chatBox.scrollHeight;
          }
          if (gameLogBox){
            gameLogBox.scrollTop = gameLogBox.scrollHeight;
          }
        },
      });
    </script>
  </body>
</html>
